.alert {
    position: absolute;
    background-color: white;
    color: #007bff !important;
    border: #007bff;
}
.alert.boop {
    transition: transform .5s ease;
    transform: translateY(70px);
    z-index: 900;
}
.alert.hide {
    transition: transform 1s ease;
    transform: translateY(0px);
}
body {
    background: url("/static/images/store1.jpg");
    box-shadow: inset 5000px 5000px 5000px 5000px rgba(0,0,0,0.7);
    background-size: cover;
    background-attachment: fixed;
}
.bg-steel {
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 96%, rgba(0,0,0,0.9010197829131653) 100%);
  border-bottom: 1px solid #ffffff;
  color: black;
  font-size: 14px;
  height: 70px;
}
.bottom-bar{
    border-top: 2px solid #cbd5db;
    height: 50px;
}
.btn{
    transition: all .1s ease-in-out;
    border-radius: 0px;
}
.btn:hover{
    transform: scale(1.05);
}
.btn-default{
    background-color: #fff;
}
.btn-default:hover{
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background:  linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 96%, rgba(0,0,0,0.9010197829131653) 100%);
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  font-size: 14px;
}
.form-check-label{
    color: white;
}
.form-control{
    border-radius: 0;
}
.header-title{
    padding-top: 80px;
}
.header-img{
    max-height: 150px;
    display: block;
    padding-top: 50px;
    margin: auto;
}
.main-title{
    font-weight: bold;
    color: #e7e7e7;
}
.marketing-box{
    padding: 5px;
}
.marketing-icon-box{
    margin-left: auto;
    margin-right: auto;
        color: white;

}
.marketing-title{
    font-weight: bold;
        color: white;

}
.marketing-text{
    font-size: 14px;
        color: white;
}
.primary{
    color: #007bff;
}
.pull-down{
    padding: 11px 0 0 0;
    font-weight: bold;
    color: white;
}
.register-box{
    font-size: 14px;
    padding: 10px;
    border: 2px solid #ffffff;
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 96%, rgba(0,0,0,0.9010197829131653) 100%);
    color: white;
    min-width: 300px;
}
.shrink{
    transition: transform 3s ease;
    transform: translateY(0px);
}
.sign-up-box{
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #cbd5db;
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 96%, rgba(0,0,0,0.9010197829131653) 100%);
    color: white;
    min-width: 300px;
}
.sign-up-title{
    font-weight: bold;
    color: white;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.site-title{
    font-size: 18px;
    color: white !important;
}
.white{
    color: white;
}