{% extends "base/user-panel.html" %}
{% load crispy_forms_tags %}
{% block panel %}


<div class="col-md-9">
    <div class="register-box">
        <div class="container">
            <h2 class="sign-up-title mt-4"><i class="fas fa-tools"></i> Payroll settings</h2>
            <p>The payroll thresholds can be adjusted here.</p>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg" type="submit">Save settings</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock panel %}