body {
  background: url("/users/static/background/pic1.jpg");
  background-size: cover;
  color: #000000;
  margin-top: 5rem;
  font-size: 14px;
  font-weight: bold;
}
.h-primary {
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    padding: 25px 0 25px 0;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 5px solid #ff0000;
    display: inline-block;
    color: #000000;
}
ul {
  margin: 0;
}
.bg-steel {
  background-color: #0a0902;
  border-bottom: 1px solid red;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffc107;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.account-container{
  color: #ffffff;
  background: #212529;
  padding: 10px 20px;
  border: 1px solid #666666;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: auto;
  text-align: center;
}
.article-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fab041;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}
.article-content {
  white-space: pre-line;
  color: #ffffff;
}
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.article-metadata {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #666666
}
.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.account-menu {
  color: #ffffff;
  background: #212529;
  padding: 0px 15px;
  border: 1px solid #666666;
  border-radius: 3px;
  margin-bottom: 10px;
  overflow: auto;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading {
  font-size: 2.5rem;
}
.btn-white{
    color: #cbd5db;
}
.btn-white:hover{
    color: #ffc107;
}
.main-nav-container{
    width: 100%;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #d2d2d2;
}
.content-section {
  color: #ffffff;
  background: #000000;
  opacity: 0.9;
  padding: 15px 20px;
  border: 1px solid #666666;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.list-group-item-light {
  color: #32383e;
  background-color: #32383e;
}
small.article-content{
    font-size: 70%;
}
media-body{
    vertical-align:middle
}